
{% block content %}
<style>
#status tr.OK td { 
  background-color: white;
  color: green; 
  }
  
#status tr.Failed td { 
  background-color: white;
  color: red; 
  }
  
  
</style>

<form enctype="multipart/form-data" action="#" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit" />
</form>
<h4>Instructions</h4>
<p>Numeric values should NOT be enclosed in "" or they will be treated as strings.</p>
<p>See the docs for full information on message formats, tags, and hooks</p>




{% endblock %}